
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/

.DS_Store

.vscode/*
!.vscode/settings.json

#playwrigh bdd
.features-gen/

# Environment
.env
.env.dev
.env.prod
.env.local

# Playwright MCP
.playwright-mcp/

# Allure
allure-results/
allure-report/
